/obj
/out

/whiteMath/obj
/whiteStructs/obj

/out/DebugVersion
/out/BenchmarkVersion

# Old repository backups made prior to initializing a git repo
/repo_backups

# Mac OS's ever-present annoying .DS_Store
**/.DS_Store